In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sys

In [52]:
import pickle
cleaned_data = pd.read_pickle(r"C:\Users\maorb\Classes\Classical_ML\YDATA-kaggle-assignment\data\processed\cleaned_data_Maor.pkl")
X_train = pd.read_pickle(r"C:\Users\maorb\Classes\Classical_ML\YDATA-kaggle-assignment\data\processed\X_train.pkl")
X_test = pd.read_pickle(r"C:\Users\maorb\Classes\Classical_ML\YDATA-kaggle-assignment\data\processed\X_test.pkl")
y_train = pd.read_pickle(r"C:\Users\maorb\Classes\Classical_ML\YDATA-kaggle-assignment\data\processed\y_train.pkl")
y_test = pd.read_pickle(r"C:\Users\maorb\Classes\Classical_ML\YDATA-kaggle-assignment\data\processed\y_test.pkl")

In [53]:
cleaned_data.isna().sum()

session_id                  691
DateTime                    725
user_id                       0
product                      62
campaign_id                 726
webpage_id                  728
user_group_id             15019
gender                    14369
age_level                 14362
user_depth                15027
city_development_index    99294
var_1                        61
is_click                      0
product_category            631
dtype: int64

In [49]:
cleaned_data.shape

(365875, 14)

In [50]:
#drop rows where is click is null
cleaned_data = cleaned_data.dropna(subset=['is_click'])

In [51]:
cleaned_data.shape

(365798, 14)

In [31]:
cleaned_data['is_click'] = cleaned_data['is_click'].astype('category')

In [32]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365875 entries, 0 to 365874
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   session_id              365167 non-null  float64
 1   DateTime                365139 non-null  object
 2   user_id                 365875 non-null  float64
 3   product                 365799 non-null  object
 4   campaign_id             365132 non-null  float64
 5   webpage_id              365132 non-null  float64
 6   user_group_id           350837 non-null  float64
 7   gender                  351489 non-null  object
 8   age_level               351488 non-null  float64
 9   user_depth              350831 non-null  float64
 10  city_development_index  266546 non-null  float64
 11  var_1                   365806 non-null  float64
 12  is_click                365798 non-null  category
 13  product_category        365235 non-null  float64
dtypes: category(1), float64(10), object(3)
memory usage: 36.6+ MB

In [20]:
X_train.head()

,session_id,DateTime,user_id,age_level,user_depth,city_development_index,var_1,product_B,product_C,product_D,...,user_group_id_3.0,user_group_id_4.0,user_group_id_5.0,user_group_id_6.0,user_group_id_7.0,user_group_id_8.0,user_group_id_9.0,user_group_id_10.0,user_group_id_11.0,user_group_id_12.0
0,289006.0,2017-07-02 16:19:00,715327.0,4.0,3.0,2.0,1.0,False,True,False,...,False,True,False,False,False,False,False,False,False,False
1,33357.0,2017-07-05 10:08:00,836420.0,NaN,NaN,NaN,0.0,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,129669.0,2017-07-03 08:10:00,914559.0,4.0,3.0,2.0,1.0,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,377077.0,2017-07-05 10:40:00,676142.0,2.0,3.0,1.0,1.0,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,217169.0,2017-07-07 05:49:00,80378.0,3.0,3.0,NaN,0.0,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [34]:
import pandas as pd

df_test = pd.DataFrame({
    'col1': [1,2,3],
    'col2': ['a','b','c']
})
df_test['col2'] = df_test['col2'].astype('category')

print("Before saving:")
print(df_test.info())

df_test.to_pickle('test.pkl')

df_read = pd.read_pickle('test.pkl')
print("After loading:")
print(df_read.info())

Before saving:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int64
 1   col2    3 non-null      category
dtypes: category(1), int64(1)
memory usage: 291.0 bytes
None
After loading:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int64
 1   col2    3 non-null      category
dtypes: category(1), int64(1)
memory usage: 183.0 bytes
None